absl-py==2.3.1
annotated-types==0.7.0
cached-property==1.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.3.0
cloudpickle==3.1.1
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
etils==1.13.0
Farama-Notifications==0.0.4
filelock==3.13.1
fonttools==4.60.1
fsspec==2025.9.0
gitdb==4.0.12
GitPython==3.1.45
glfw==2.10.0
gymnasium==0.29.1
h5py==3.14.0
huggingface-hub==0.35.3
idna==3.10
imageio==2.37.0
importlib_resources==6.5.2
jax-jumpy==1.0.0
Jinja2==3.1.4
kiwisolver==1.4.9
MarkupSafe==2.1.5
matplotlib==3.10.6
mpmath==1.3.0
mujoco==3.1.2
mujoco-python-viewer==0.1.4
networkx==3.3
numpy==1.26.4
packaging==25.0
pandas==2.3.3
pillow==11.0.0
pip==25.2
platformdirs==4.4.0
protobuf==6.32.1
pydantic==2.11.9
pydantic_core==2.33.2
PyOpenGL==3.1.10
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
regex==2025.9.18
requests==2.32.5
safetensors==0.6.2
seaborn==0.13.2
sentry-sdk==2.39.0
setuptools==80.9.0
six==1.17.0
smmap==5.0.2
sympy==1.13.3
tokenizers==0.22.1
torch==2.8.0+cu129
torchvision==0.23.0+cu129
tqdm==4.67.1
transformers==4.56.2
typing_extensions==4.15.0
typing-inspection==0.4.1
tzdata==2025.2
urllib3==2.5.0
wandb==0.22.1
wheel==0.45.1
zipp==3.23.0
